.nav {
  display: flex;
  justify-content: space-between;
}

.navlist {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-gap: 3rem;

  a {
    text-decoration: none;
    font-size: 1.7rem;
    color: $white;

    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 0;
      margin: 5px auto;
      background-color: $white;
      transition: width 0.2s;
    }

    &:hover {
      &:after {
        width: 3rem;
      }
    }
  }
}