.card {
  height: 45rem;
  background-color: #147b74;
  padding: 3rem;
  font-size: 3rem;
  text-decoration: none;
  color: $white;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  text-align: left;
  display: flex;
  align-items: end;
  transition: all 0.2s;

  &:hover {
    opacity: 0.6;
  }

  @media (max-width: 630px) {
    height: 20rem;
    background-size: auto;
  }
}