.container {
  padding: 12rem 12rem;
}

.about {
  position: relative;

  &__desc {
    width: 50%;
    background-color: $white;
    padding: 8rem;
    padding-right: 0;
    padding-bottom: 0;
    position: absolute;
    left: 58rem;
    margin-left: auto;
    right: auto;
    bottom: 0;

    p {
      margin-top: 4rem;
    }
  }
}